@charset "ISO-8859-1";

/* CABECERA */
body {
	height: 100%;
	width: 100%;
}
.my-header {
	width: 100%;
	height: 759px;
}

.my-header img {
	width: 100%;
	position: absolute;
	z-index: -22;
	top: 0;
}

.my-header nav {
	/* 	background-color: transparent !important; */
	background: rgba(0, 0, 0, 0.3) !important;
	min-height: 90px !important;
}

img.img-logo {
	margin-top: 15px;
	margin-left: 20px;
}

a.navbar-brand {
	color: #C9302C !important;
	font-size: 300%;
	font-family: fantasy;
	letter-spacing: 1px;
	margin-left: 60px;
}

.mensaje {
	margin-left: 50px !important;
	margin-top: 400px !important;
	text-align: left !important;
	font-size: 600%;
	color: white;
	font-family: fantasy;
}

/* GRUPO DE BOTONES DE LA BARRA */
.navbar-nav.mr-auto {
	margin-left: 5px;
	font-size: 120%;
}

/* BOTONES INDIVIDUALES DE LA BARRA DE NAVEGACION */
a.nav-link {
	color: white !important;
	margin-right: 15px;
}

.mensaje {
	text-align: center;
	margin-top: 15%;
	font-size: 500%;
	color: white;
	font-family: inherit;
}


.center-btn {
	text-align: center;
}

.reservar {
	margin-right: 10px !important;
	text-decoration: none;
	font-size: 120% !important;
	display: inline;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px !important;
	height: 40px !important;
	width: 140px !important;
	margin-left: 65% !important;
}

.btn {
	color: black;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;
}


/***** CUERPO *****/

div .container-fluid-cuerpo {
	background-image: url('img/laberinto.jpg');	
}

.row.info {
	margin-top: 50px;
	margin-left: 230px;
	margin-right: 100px;
}

.elemento {
	margin-right: 150px;
	text-align: center;
/* 	border-right: 1px solid grey; */
}

.glyphicon.glyphicon-lock {
	margin-right: 20px;
	font-size: 140% !important;
}

.glyphicon.glyphicon-user {	
	margin-right: 4px;
	font-size: 140% !important;
}

.personas {
	margin-left: 25px;
	font-size: 130%;
}

.glyphicon.glyphicon-time {	
	font-size: 160% !important;
}

.time {
	margin-left: 25px;
	font-size: 130%;
}

.glyphicon.glyphicon-credit-card {	
	font-size: 160% !important;
}

.prize {
	margin-left: 25px;
	font-size: 130%;
}

.row.descripcion {
	margin-left: 210px;
	text-align: justify;
	width: 1039px;
}

.parrafada {
	font-size: 130%;
}

.reservar2 {
	text-decoration: none;
	font-size: 120% !important;
	display: inline;
	margin-left: 60px;
	margin-top: 70px;
	height: 100px !important;
	cursor: pointer;
	border-radius: 20px !important;
	height: 40px !important;
	width: 140px !important;
}

/* FOOTER */
div.container-fluid-footer {
	background-image: url('img/pie.jpg');
	height: 400px;
	position: relative;
}

p.texto-footer {
	text-align: center;
	color: white;
	font-size: 90%;
	left: 37%;
	bottom: 30px;
	position: absolute;
}

a.desarrolladoras {
	color: #C9302C;
	text-decoration: none;
}

img.logo-footer {
	height: 120px;
	width: 120px;
	position: absolute;
	bottom: 120px;
	left: 45%;
	color: white;
}